body, html {
    margin: 0;
    padding: 0;

    height: 100%;
}

#achivements {
    width: 300px;

    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
}


#gameScreen {
    position: relative;
}